<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>Request Header Parser Microservice</title>
        <!--Always force latest IE rendering engine (even in intranet) & Chrome Frame Remove this if you use the .htaccess-->
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <meta name="description" content="URL Shortener Microservice"/>
        <meta name="author" content="Ronald"/><meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
        <link rel="stylesheet prefetch" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"/>
    </head>

    <body>
        <div class="container-fluid">
            <img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/p/5/000/223/385/3b24119.jpg" alt="My Face"/>
            <p><a href="mailto:pnald.blanco@gmail.com"> <i class="fa fa-envelope fa-fw"></i></a>
            <a href="https://github.com/ronaldblanco" target="_blank"> <i class="fa fa-github fa-fw"></i></a>
            <a href="https://www.linkedin.com/in/ronald-blanco-carrazana-5b506268/" target="_blank"> <i class="fa fa-linkedin"></i></a>
            <a href="http://codepen.io/ronaldblanco/#" target="_blank"> <i class="fa fa-codepen"></i></a>
            <!--<a href="https://rafase282.wordpress.com/" target="_blank"> <i class="fa fa-wordpress"></i></a>-->
            <a href="https://www.freecodecamp.com/ronaldblanco" target="_blank"><i class="fa fa-fire fa-fw"></i></a></p>
            <p>Created by Ronald Blanco.</p>
            <h1 class="header">FreeCodeCamp API Basejump: Request Header Parser Microservice</h1>
            <blockquote>
                <p>User stories:</p>
                <ul>
                    <li>I can get the IP address, language and operating system for my browser.</li>
                    
                </ul>
            </blockquote>
            <h3>Example usage:</h3>
            <code>https://.../iam/</code><br/>
            
            <h3>Example output</h3>
            <code>{
                "ipaddress": "12.228.42.154",
                "language": "en-US",
                "software": "Windows NT 6.1; WOW64; rv:53.0"
            }</code>
            
        </div>
    </body>
</html>